* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f8ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e90ff; 
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    height: 100px;
}

.nav-logo {
    color: white;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 16px;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.nav-links a:hover {
    background-color: #4682b4; 
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4682b4; 
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: hidden; 
    z-index: 1001; 
    padding: 0;
}

.nav-links .dropdown-content a {
    color: white; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #1e90ff; 
    border-bottom: 1px solid #dcdcdc; 
    transition: background-color 0.3s ease;
}

.nav-links .dropdown-content a:hover {
    background-color: #005f99; 
    color: white;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links .dropdown-content li:last-child a {
    border-bottom: none; 
}

.nav-links .dropdown-content {
    list-style: none;
}









.profile-container {
    max-width: 400px;
    height: 970px;
    margin: 50px auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    border: 2px solid black;
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size:30px ;
}

.profile-container form {
    display: flex;
    flex-direction: column;
    gap: 13px;
   
}

.profile-container form label {
    font-weight: bold;
    border: 1px solid transparent;
}

.profile-container form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid black;
}

.profile-container form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:rgb(5, 128, 5);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1.2px solid black;
}

.profile-container form button:hover {
    background-color: rgb(5, 87, 5);
    color: white;
}

.message{
    height: 100px;
    font-size: 12px;
    border: 1px solid black;
   
}

::-webkit-input-placeholder{
    color: black;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}
