* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e90ff; 
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

.nav-logo {
    font-size: 1.5em;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 16px;
    border-radius: 10px; 
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #4682b4; 
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: #4682b4; 
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: hidden; 
    z-index: 1001; 
    padding: 0;
}

.nav-links .dropdown-content a {
    color: white; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #1e90ff; 
    border-bottom: 1px solid #dcdcdc; 
    transition: background-color 0.3s ease;
}

.nav-links .dropdown-content a:hover {
    background-color: #005f99; 
    color: white;
}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links .dropdown-content li:last-child a {
    border-bottom: none; 
}

.nav-links .dropdown-content {
    list-style: none;
}

.guide-list-section {
    margin-top: 80px; 
    padding: 40px;
    text-align: center;
}

.guide-list-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.guide-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.guide-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.guide-card:hover {
    transform: translateY(-5px);
}

.guide-image {
    background-color: #e0e0e0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.guide-info h3 {
    font-size: 1.5em;
    margin: 15px 0 10px;
}

.guide-info p {
    font-size: 1em;
    margin: 5px 0;
}

.status-available {
    color: green;
    font-weight: bold;
}

.status-not-available {
    color: red;
    font-weight: bold;
}
